body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container1 h1{
    margin: 0;
    font-size: 100px;

}

.header{
    background-color: linen;
    
    justify-content: space-between;
    display: flex;
}
.container1{
    padding-top: 150px;
    padding-bottom: 50px;
    background-image: url('https://agentestudio.com/uploads/post/image/91/main_fashion-website-design-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.menuarea{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    align-items: center;
    gap: 15px;
    
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap:15px;
}
.btn{
    margin-top: 30px;
    padding:10px;
    border-radius: 10px;
    color:white;
    background-color: black;
    transition: transform 1s;
    cursor: pointer;
}
.btn:hover{
     transform: scale(1.1);
}
.container2{
    padding: 20px;
    background-color: linen;
    display: flex;
    justify-content: space-evenly;

}
.productimg {
    width: 200px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 1s;
    cursor: pointer;
}
.productimg:hover{
     transform: scale(1.1);
}
.images{
    text-align: center;
}
.heading2 {
    padding: 0;
    background-color: linen;
    text-align: center;
    align-items: center;
}
.heading2 h1 {
    padding-top: 10px;
    margin: 0;}
.container3{
    padding: 30px;
    background-color: lightgray;
    margin: 0;
    text-align: center;
}
.container3 p{
    text-align: justify;
    max-width: 800px;
    line-height:1.6 ;
    margin: 0 auto;   
}
.container3 h1{
    margin: 0;
    padding: 15px;
}
.foot{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: linen;

}
.im{
    
    width:30px;
    height:30px;   
}
.image{
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (max-width: 768px) {
    .container2, .foot {
        flex-direction: column;
        align-items: center;
    }

    .images, .image {
        margin-bottom: 20px;
    }
}
